@{
    ViewBag.Title = "Index";
}

<div id="imgHolder">
    <img src="http://tinyurl.com/lfsuhbg" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>TITLE</h2>
        <p>lorem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.</p>
    </div>
    <div class="col-md-4">
        <p>Each div is 1/3 width with border the same color as header, 1px,solid. Allow for spacing between each div.</p>
    </div>
    <div class="col-md-4">
        <h2>TITLE</h2>
        <p>lorem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.</p>
    </div>
</div>