
@{
    ViewBag.Title = "What";
}

<h2>What</h2>
<p>Q: What do you get when you cross an octopus with a cow?

A: An animal that can milk itself.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lobortis et ligula id vehicula. Sed convallis turpis quis dignissim suscipit. Proin dictum tortor sit amet sem tincidunt ullamcorper. Aenean et diam magna. Ut ultrices sit amet lacus sit amet aliquam. Vivamus quis odio quis lectus consequat tempor. Praesent in metus ipsum. Ut in augue sodales, posuere orci sed, consequat tellus.</p>
